Pandas Practice

In [7]:
import pandas as pd
import numpy as np
exam_data = {"name": ['Kevin', 'John', 'Mike', 'Eric', 'Patrick', 'Kyle', 'Brandon', 'Jose', 'Debra', 'Katie'],
             "score": [12.5, 9, 16.5, np.NaN, 9, 20, 14.5, np.NaN, 8, 19],
             "attempts": [1,3,2,3,2,3,1,1,2,1],
             "qualify": ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df

      name  score  attempts qualify
a    Kevin   12.5         1     yes
b     John    9.0         3      no
c     Mike   16.5         2     yes
d     Eric    NaN         3      no
e  Patrick    9.0         2      no
f     Kyle   20.0         3     yes
g  Brandon   14.5         1     yes
h     Jose    NaN         1      no
i    Debra    8.0         2      no
j    Katie   19.0         1     yes

In [6]:
mean = df['score'].mean()
mean

13.5625

In [8]:
import numpy as np
import pandas as pd
df = pd.read_csv('grades.csv')
df.head(15)

,id,name,email,Exams,Tests,Projects,Home Work
0,1,Carl Bosch,cbosch0@yelp.com,70.24,64.14,89.02,84.32
1,2,Philis Hoodspeth,phoodspeth1@foxnews.com,97.04,74.78,71.21,73.83
2,3,Nicholas Kemmett,nkemmett2@youtu.be,98.71,72.52,67.65,93.53
3,4,Kerri Chitson,kchitson3@huffingtonpost.com,94.64,98.53,80.78,92.20
4,5,Hans Silverwood,hsilverwood4@narod.ru,73.77,72.77,93.64,90.46
5,6,Rasia Anan,ranan5@deviantart.com,77.23,70.47,83.06,65.18
6,7,Marne Greenley,mgreenley6@unicef.org,60.09,68.63,79.17,94.07
7,8,Marius Sanches,msanches7@redcross.org,88.81,66.88,73.64,63.78
8,9,Ermin Fairpool,efairpool8@blinklist.com,81.61,71.19,75.05,86.34
9,10,Chrotoem Boustred,cboustred9@uol.com.br,70.32,79.77,71.49,80.62
10,11,Jenine Sokell,jsokella@huffingtonpost.com,74.22,93.98,63.07,97.93
11,12,Cirilo Brizell,cbrizellb@ask.com,92.49,70.76,83.47,67.23
12,13,Stephi Robjents,srobjentsc@blog.com,66.56,85.67,98.55,93.81
13,14,Ofilia Yo,oyod@meetup.com,78.19,77.96,88.95,90.45
14,15,Joaquin Brantl,jbrantle@hatena.ne.jp,91.52,61.28,69.89,80.90

In [13]:
df['Average'] = (df['Exams'] + df['Tests'] + df['Projects'] + df['Home Work'])/4
df.sort_values(['Average'], ascending=[False], inplace=True)
df.head(15)

,id,name,email,Exams,Tests,Projects,Home Work,Average
203,204,Alysia Drummer,adrummer5n@ucoz.com,93.24,88.74,98.20,88.34,92.1300
3,4,Kerri Chitson,kchitson3@huffingtonpost.com,94.64,98.53,80.78,92.20,91.5375
164,165,Barry Simla,bsimla4k@dyndns.org,97.14,90.83,83.32,93.94,91.3075
18,19,Jarrod Lashford,jlashfordi@wufoo.com,98.23,89.46,95.92,80.97,91.1450
142,143,Guillaume Slate,gslate3y@jugem.jp,86.76,94.50,98.12,84.15,90.8825
157,158,Matilde Burden,mburden4d@creativecommons.org,95.49,77.40,97.51,92.79,90.7975
188,189,Aristotle Petel,apetel58@hubpages.com,74.74,94.60,96.80,96.35,90.6225
66,67,Lazaro Hought,lhought1u@tuttocitta.it,92.14,98.79,85.57,85.83,90.5825
244,245,Chauncey Parysiak,cparysiak6s@businesswire.com,98.88,78.40,86.68,98.20,90.5400
206,207,Fianna Chance,fchance5q@theguardian.com,96.02,96.06,91.84,77.20,90.2800
48,49,Gail Mallinar,gmallinar1c@bluehost.com,92.43,90.42,98.46,76.57,89.4700
247,248,Silvanus Rehor,srehor6v@behance.net,96.17,78.05,84.63,98.55,89.3500
170,171,Lizette Coulsen,lcoulsen4q@google.fr,79.06,98.49,88.91,90.06,89.1300
205,206,Franklyn Shooter,fshooter5p@un.org,84.81,98.70,87.00,84.68,88.7975
232,233,Kizzie Gerwood,kgerwood6g@sakura.ne.jp,96.19,83.54,96.44,78.82,88.7475