Pandas Practice

In [7]:
import pandas as pd
import numpy as np
exam_data = {"name": ['Kevin', 'John', 'Mike', 'Eric', 'Patrick', 'Kyle', 'Brandon', 'Jose', 'Debra', 'Katie'],
             "score": [12.5, 9, 16.5, np.NaN, 9, 20, 14.5, np.NaN, 8, 19],
             "attempts": [1,3,2,3,2,3,1,1,2,1],
             "qualify": ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df

      name  score  attempts qualify
a    Kevin   12.5         1     yes
b     John    9.0         3      no
c     Mike   16.5         2     yes
d     Eric    NaN         3      no
e  Patrick    9.0         2      no
f     Kyle   20.0         3     yes
g  Brandon   14.5         1     yes
h     Jose    NaN         1      no
i    Debra    8.0         2      no
j    Katie   19.0         1     yes

In [6]:
mean = df['score'].mean()
mean

13.5625